@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl-700.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl-500.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl-900.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-900.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}



* {
  box-sizing: border-box;
  position: relative;
  outline: none;
  /*display: flex;*/
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 500;
  font-style: normal;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

/*body {
  display: flex;
  flex-direction: column;
  font-family: ;
  font-weight: ;
  font-style: normal;
  font-size: 18px;
  color: black;
}*/

.header {
  background-image: url('../images/background/header.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  min-height: 966px;
  min-width: 1120px;
  width: 100%;
  padding-bottom: 110px;
  /*flex-wrap: wrap;*/
  

}

.container {
    width: 1120px;
    margin: 0 auto;
    
}

.header__logo {
  width: 100%;
  max-height: 130px;
  padding-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 52px;
}
.logo__image {
  max-height: 84px;
  max-width: 314px;
  /*margin-top: 25px;*/
}
/*.logo__name {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  margin-left: 10px;
  color: #ffffff;
  text-align: left;
}*/
.phone {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 64px;
}
/*.phone__image {
  max-height: 18px;
  max-width: 17px;
}*/
.phone__number {
  font-weight: 900;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  margin-left: 5px; 
  
 }
.phone__number--red:hover {
  color: #ee700e;
 }
.phone::before {
  content: '';
  background-image: url(../images/icons/icon_telefone.png);
  position: absolute;
  height: 18px;
  width: 17px;
  top: 0px;
  left: -17px;
}



 .header__navigation {
  /*margin-top: 25px;
  background: #ffffff;
  display: flex;
  max-height: 94px;
  text-align: center;
  justify-content: space-between;*/

}  
.header__navigation-list{
  list-style: none;
  margin-top: 25px;
  background: #ffffff;
  display: flex;
  max-height: 94px;
  text-align: center;
  justify-content: space-between;
  padding: 0;
}

 .navigation-list__item {
  display: flex;
  align-items: center;
  flex-grow: 1;
  
  /*border: 1px solid #000000;*/
 }
 .navigation-list__item:last-child {
  padding-right: 62px;
 }
 .navigation-list__item:first-child {
  padding-left: 52px;
}

 .navigation-list__link {
  display: block;
  text-decoration: none;
  width: 100%
  font-size: 15px;
  font-weight: 700;
  color: #000000;
  padding: 25px 20px;

 }
  .navigation-list__item:hover {
   background-color: #ee700e;
 }
.navigation-list__item:hover::after {
  display: block;
  position: absolute;
  content: ''; 
  background-color: #ee700e;
  height: 14px;
  width: 100%;
  bottom: -14px;
  left: 0;
}
.navigation-list__item:hover .navigation-list__link {
  color: #ffffff;
}
.bot-head__title {
  font-size: 36px;
  font-weight: 900;
  padding-top: 76px;
  color: #ffffff;
  text-align: center;
}
.bot-head__title--uppercase {
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 900;
}
.bot-head__skills {
  padding-top: 66px;
  display: flex;
  justify-content: space-around;

}
.skills__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 214px;
}
.item__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  height: 92px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
.item__icon--white {
  background-color: #ffffff;
}
.item__text {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-top: 35px;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 84px;


}
.buttons__item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 234px;
  height: 60px;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  color: #727272;
}
.buttons__item:last-child {
  margin-left: 28px;
}
.buttons__item:hover {
 color: #ffffff;
 background-color: #ee700e;
}
.titles {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}
.services {
  padding-top: 80px;
  padding-bottom: 90px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services__item {
  width: 25%;
  display: block;
  min-height: 346px;
  padding: 40px;
  border: 1px solid transparent;
  text-decoration: none;
  color: #727272;
}
.service__icon {
  width: 48px;
  height: 48px;
  margin-bottom: 42px;
}
.service__text {
  font-size: 16px;
  font-weight: 300;
  color: #727272;
  line-height: 24px;
}
.service__info {
  font-size: 15px;
  font-weight: 300;
  opacity: 0;
  padding-top: 48px;
}
.service__info::before {
  display: block;
  position: absolute;
  content: ''; 
  background-color: #ee700e;
  height: 1px;
  width: 16px;
  right: 87px;
  bottom: 8px;
}
.service__info::after {
  display: block;
  position: absolute;
  content: ''; 
  border-top: 1px solid #ee700e;
  border-right: 1px solid #ee700e;
  transform: rotate(45deg);
  height: 4px;
  width: 4px;
  right: 87px;
  bottom: 6px;
}
.services__item:hover {
  border: 1px solid #ee700e;
  color: #ee700e;
}
.service__info:hover {
  text-decoration: underline;
}
.services__item:hover .service__text{
   color: #ee700e;
}

.services__item:hover .service__info{
   opacity: 1;
}

.news {
  background-image: url('../images/background/news.png');
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  min-height: 964px;
  min-width: 1120px;
  width: 100%;
  padding-top: 78px;
  padding-bottom: 82px;
}
.titles--white {
  color: #ffffff;
}
.news-desc {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.news__item {
  display: block;
  min-height: 550px;
  padding: 83px 50px 82px 45px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}
.news__date {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 45px;

}
.news__date--large {
  font-size: 24px;
  font-weight: 900;
}
.news__title {
  margin-bottom: 68px;
}
.news__short {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 48px;
}
.news__item:hover {
  color: #000000;
  background-color: #ffffff;
}
.news__title::after {
  display: block;
  position: absolute;
  content: ''; 
  background-color: #ee700e;
  height: 1px;
  width: 28px;
  bottom: -34px;
  left: 1px;
}

.news__info {
  border: 1px solid #ee700e;
  color: #ee700e;
  width: 104px;
  height: 38px;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  margin-left: 53px;
  line-height: 35px;
  
}
.news__info::before {
  display: block;
  position: absolute;
  content: ''; 
  border: 1px solid #ee700e;
  height: 100%;
  width: 38px;
  left: -54px;
  bottom: -1px;
}
.news__info::after {
  display: block;
  position: absolute;
  content: ''; 
  border-top: 1px solid #ee700e;
  border-right: 1px solid #ee700e;
  transform: rotate(45deg);
  height: 11px;
  width: 11px;
  left: -43px;
  bottom: 12px;
}

.news__item:hover .news__info {
  color: #ffffff;
  background-color: #ee700e
}
.news__item:hover .news__info::after {
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
.news__item:hover .news__info::before {
  background-color: #ee700e;
}

.news__all {
  display: flex;
  justify-content: flex-end;
  margin-top: 78px;
}

.news__all-link {
  display: block;
  width: 222px;
  height: 55px;
  border: 1px solid #ee700e;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #ee700e;
  text-align: center;
  line-height: 53px;
}

.news__all-link:hover {
  color: #ffffff;
  border: 1px solid #ee700e;
  background-color: #ee700e;
}

.footer {
  background-image: url('../images/background/map2.png');
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  min-height: 968px;
  min-width: 1120px;
  width: 100%;
  padding-top: 124px;

}

.requisites {
  display: flex;
  justify-content: center;
  
  width: 826px;
  height: 296px;
  background-color: #ffffff;
  color: #000000;
  margin: 194px auto;
  padding: 50px 50px 58px 58px;

}
.requisites__info {
  width: 53%;
  padding-right: 52px;
}

.requisites__text {
  font-size: 23px;
  font-weight: 900;

}
.requisites__contacts {
  padding-left: 52px;
}

.requisites__number {
  font-size: 18px;
  font-weight: 900;
}
.requisites__addr {
  font-size: 18px;
  font-weight: 900;
}
.requisites__number--orange {
  color: #ee700e;
  font-weight: 900;
  text-decoration: none;
}
.requisites__number--orange:hover {
  text-decoration: underline;
}
.addr {
  font-size: 17px;
  font-weight: 500;
}

.requisites__social {
  display: flex;
  margin-top: 20px;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border: 1px solid #000000;
  border-radius: 50%;
}
.social:last-child {
  margin-left: 10px;
}

.social:hover{
  border: 1px solid #ee700e;

}
.requisites__contacts::before {
  display: block;
  position: absolute;
  content: ''; 
  background-color: #727272;
  height: 184px;
  width: 1px;
  bottom: 0;
  left: 0;
}
.copyrights {
  font-size: 16px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}
.copyrights__link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 900;
  color: #ee700e;
}
.copyrights__link:hover {
  text-decoration: underline;
}
/*.footer::after {
  content: url(../images/icons/marker.png);
  position: absolute;
  height: 46px;
  width: 32px;
  top: 307px;
  left: 750px;
}*/